div {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

input[type="radio"]{
  margin: 1em 0.5em 0 2em;
}

input[type="checkbox"]{
  margin: 1em 0.5em 0 2em;
}

.label{
  font-weight: bold;
  font-style: italic;
}

.row {
  display: flex;
}
.col {
  flex: 1;
  font-size: 14px;
  border-style: inset;
  margin: 0.2em;
}